.badge {
  border-radius: 9px;
  padding: 6px;
  margin: 3px;
  box-shadow: 6px 11px 16px -4px rgba(167, 172, 176, 0.2);
  align-items: center;
  &_green {
    background-color: $green;
    color: $white;
  }
}
