@import './variables.scss';
@import './badges.scss';
@import './cards.scss';
@import './animations.scss';

a, .uk-link {
  text-decoration: none;
}

.main {
  max-width: 1180px;
  width: 100%;
  display: contents;
}

.b1, .b2, .b3 {
  width: 36px;
  height: 4px;
  background-color: #000;
  margin: 5px 0;
  transition: 0.3s;
}
