.offline-alert{
    z-index: 990;
    width: 100%;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #e8e9e8;
}

.container {
    max-height: 90%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 5%;
  }
  section {
    width: 100%;
  }
  div .map_adaptive_container{
      height: 100%;
      max-width: 100%;
      padding-bottom: 5%;
      padding-top: 1%;
  }
  div .map{
      position: relative;
      text-align: center;
  }
  svg {
      position: absolute;
      top: 0;
      right: 0;
  
      height: 100%;
      width: 100%;
  }
  .part {
      opacity: .3;
  }
  .part:hover {
      transition: opacity .2s ease;
      opacity: .7;
      cursor: pointer;
  }
  div .filter{
      padding-top: 40px;
  }
  .uk-card-primary{
      background:rgb(44, 106, 240)
  }
  div .change_log_container {
    margin-top: 5%;
}

 .container_burger {
    margin-top: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

 .b1, .b2, .b3 {
    width: 36px;
    height: 4px;
    background-color: #000;
    margin: 5px 0;
    transition: 0.3s;
}

 .change .b1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .b3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.change .b2 {opacity: 0;}